@import "tailwindcss";

@theme {
  --color-base: #030303;
  --color-baseSecondary: #070c0d;
  --color-primary: #6ae3ff;
  --color-txt: #ffffff;
  --color-txtdim: #b3b3b3;
  --color-borderclr: #363333;
}

body {
  font-family: var(--font-jakarta), sans-serif;
}

.container {
  max-width: 1400px;
  width: 100%;
  margin-inline: auto;
  padding-inline: 15px;
}

.animate-pulse-slow {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}

@keyframes floatUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
}

.floatingspan{
  animation: floatUpDown 2s cubic-bezier(0.4, 0, 0.6, 1) infinite
}

.animate-border-pulse {
  border-width: 4px;
  border-style: solid;
  border-color: #6ae3ff; /* initial border color */
  animation: borderPulse 4s ease-in-out infinite;
}

@keyframes borderPulse {
  0% {
    border-color: #6ae3ff;
  }
  50% {
    border-color: #fdffff;
  }
  100% {
    border-color: rgb(4, 174, 226);
  }
}
